body {
  background-image: url("https://cdn.shopify.com/s/files/1/0274/7429/6892/products/D106-fondo-textura-marmol-brown-textura-marmol-abstracta_1024x1024.jpg?v=1577251962");
  background-size: cover;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 10px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif;
}

h1, h2 {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "Arial";
  font-size: 24px;
}

input[type="text"] {
  background-color: #F5FFFA;
  padding: 10px 14px;
  margin: 7px 0;
  box-sizing: border-box;
  border-radius: 3px;
}

.form-group {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  opacity: 70%;
  border-radius: 2%;
}

#content, #user-input.change-color {
  color: black;
  background-color: #F0F0F0;
}

#user-input input {
  height: 8vh;
  width: 40vh;
}

#content {
  max-height: 75vh;
  word-wrap: break-word;
  overflow-y: scroll;
}

#user-input, #content.change-color {
  color: white;
  background-color: lightblue;
}

.checkbox {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  border: 2px solid #87CEEB;
  transition-duration: 0.5s;
  font-size: 16px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #87CEEB;
  color: #F5FFFA;
}